<nav class="navbar navbar-expand-md navbar-dark bg-dark" id="header">
  <div class="container-fluid">
    <a class="navbar-brand">
      Sip N Gossip
    </a>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon">
      </span>
    </button>
    <div class="collapse navbar-collapse navbar-no-padding" id="collapsibleNavbar">
      <div class="ml-auto">
        <ul class="nav navbar-nav">
          <li class="navbar-item">
            <a>
              Home
            </a>
            <i></i>
          </li>
          <li class="navbar-item">
            <a>
              About Us
            </a>
            <i></i>
          </li>
          <li class="navbar-item">
            <a>
              Menu
            </a>
            <i></i>
          </li>
          <li class="navbar-item">
            <a>
              Galley
            </a>
          </li>
          <li class="navbar-item">
            <a>
              Reviews
            </a>
          </li>
          <li class="navbar-item">
            <a>
              Contact
            </a>
            <i></i>
          </li>
        </ul>

      </div>
    </div>
  </div>
</nav>
