<nav class="navbar shadow navbar-expand-md fixed-top navbar-dark bg-black" id="header">
  <div class="container-fluid">
    <a class="navbar-brand">
      Sip & Gossip
    </a>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon">
      </span>
    </button>
    <div class="collapse navbar-collapse navbar-no-padding" id="collapsibleNavbar">
      <div class="ml-auto">
        <ul class="nav navbar-nav">
          <li class="navbar-item">
            <a href="#home">
              Home
            </a>
            <i></i>
          </li>
          <li class="navbar-item">
            <a href="#aboutUs">
              About Us
            </a>
            <i></i>
          </li>
          <li class="navbar-item">
            <a href="#menu">
              Menu
            </a>
            <i></i>
          </li>
          <li class="navbar-item">
            <a href="#services">
              Services
            </a>
            <i></i>
          </li>
          <li class="navbar-item">
            <a href="#gallery">
              Gallery
            </a>
          </li>
          <li class="navbar-item">
            <a href="#review">
              Reviews
            </a>
          </li>
          <li class="navbar-item">
            <a href="#contactUs">
              Contact
            </a>
            <i></i>
          </li>
        </ul>

      </div>
    </div>
  </div>
</nav>
