$footer-background-color: #222222;
$navbar-text-color: #c69d5c;
$footer-text-color: #aaa;
.footer-container {
  width: 100%;
  color: white;
  background-color: $footer-background-color;
  ul {
    padding: 0;
    li {
      list-style: none;
    }
  }
}

.content-footer {
  padding-top: 30px;
  padding-bottom: 30px;
}

.separation-line {
  border-right: 1px solid lighten($footer-background-color, 10);
  &:last-child {
    border: none;
  }
}

.column-footer {
  padding-top: 20px;
  color: $footer-text-color;
  padding-right: 20px;
  padding-left: 40px; //   &:last-child {
  //     margin-right: 0px;
  //     border: none;
  //   }
  //   &:first-child {
  //     padding-left: 0px;
  //   }
}

.footer-section-sub-title {
  color: darken($navbar-text-color, 30);
}

.footer-section-title {
  //   font-family: PlayfairDisplay-Bold;
  font-size: 20px;
  font-weight: 400;
  color: $navbar-text-color;
  line-height: 1.3;
  padding-bottom: 15px;
}

.footer-follow-us-icons {
  padding: 10px;
  font-size: 1.7rem;
  &:hover {
    color: $navbar-text-color;
    cursor: pointer;
  }
}

.list-container {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit;
}

.useful-links-container {
  display: inline-block;
  width: 40%;
  float: left;
  margin: 10px;
}
.useful-links-container-item {
  color: inherit;
  &:hover {
    color: $navbar-text-color;
    text-decoration: none;
  }
}

.wrap-bottom-footer {
  border-top: 1px solid lighten($footer-background-color, 10);
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 11px;
  color: $footer-text-color;
}

.bottom-footer-container {
  padding-right: 3rem;
  padding-left: 3rem;
}

@media only screen and (max-width: 768px) {
  .separation-line {
    border-right: none;
    border-bottom: 1px solid lighten($footer-background-color, 10);
  }
}
