<div id="aboutUs">
  <section>
    <div class="about-container">
      <div class="row text-center about-title-container">
        <div class="col-sm-12 text-white">
          About Us
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 about-msg-body">
          <h3 class="text-center about-msg-body-title">
            <span>Our Story </span>
          </h3>
          <h3 class="text-center about-msg-body-year">
            Since 2016
          </h3>
          <h3 class="text-center about-msg-body-divider">
            ***
          </h3>
          <p class="about-msg-body-content">
            Welcome.
            <span class="text-light-golden">Sip & Gossip</span> is one of the most elegant restuarant in Bhilwara City and is the most favourite hangout
            place for soft drinks and conversation. This elegant restuarant was founded in April 2016 by
            <span class="text-light-golden">Mr. Ashish Mundra </span> and
            <span class="text-light-golden">Mr. Rajat Pandey</span>. Both are visionary leaders and successful entrepreneurs.
          </p>
          <p class="about-msg-body-content"> Sip & Gossip is a vertical of group company
            <span class="text-light-golden">May I Help You</span> whose directors are
            <span class="text-light-golden">Mr. Vikas Babel</span> and
            <span class="text-light-golden">Mr. Dileep Jain</span>.
            <p class="about-msg-body-content">
              The brand caters to the youth population through flavours of Indian food with different of varities like Chinese, Italian
              etc.
            </p>
        </div>

        <div class="col-md-6">
          <div class="about-msg-body-img">
            <img src="assets/images/about/about1.png" class="img-fluid" alt="Sip & Gossip">
          </div>
        </div>

      </div>
    </div>
  </section>
</div>
