<div id="gallery-page-slider">
  <section class="home-container">
    <div class="back-btn-container">
      <button class="btn round" routerLink="/">
        <i class="fa fa-arrow-left"></i>
      </button>
    </div>
    <div class="slider-container">
      <div class='slide slide-bottom'>
      </div>
      <div class='slide slide-left'>
      </div>
      <div class='slide slide-right'>
      </div>
      <div class='slide slide-top'>
      </div>
    </div>
    <div class="text-center animated fadeInDown home-welcome-msg-container">
      <h3 class="welcome-text-title animated fadeInDown">
        Gallery
      </h3>
      <h3 class="welcome-text-title animated fadeInDown">
        Explore A New World
      </h3>
    </div>
  </section>
</div>
