<footer class="footer-container">
  &nbsp;
  <div class="container">
    <div class="content-footer row">
      <div class="separation-line col-lg-5 col-md-5 col-sm-7">
        <div class="column-footer">
          <h3 class="footer-section-title">Sip & Gossip</h3>
          <ul>
            <li>
              <Address>
                <span class="footer-section-sub-title">
                  <i class="fa fa-cutlery" aria-hidden="true"></i> Address: &nbsp;&nbsp;
                </span>
                Glace, 1st floor, 8 samrat ashok nagar, above equitas small finance bank, bhawarkua road, Indore, Madhya Pradesh 425001
              </Address>
            </li>
            <li>
              <Address>
                <span class="footer-section-sub-title">
                  <i class="fa fa-phone" aria-hidden="true"></i> Phone: &nbsp;&nbsp;
                </span>
                (+91)9876543210
              </Address>
            </li>
            <li>
              <Address>
                <span class="footer-section-sub-title">
                  <i class="fa fa-envelope" aria-hidden="true"></i> Email: &nbsp;&nbsp;
                </span>
                abc@gmail.com
              </Address>
            </li>
            <li>
              <Address>
                <span class="footer-section-sub-title">
                  Follow Us: &nbsp;&nbsp;
                </span>
                <i class="fa fa-facebook-square footer-follow-us-icons" aria-hidden="true"></i>
                <i class="fa fa-twitter-square footer-follow-us-icons" aria-hidden="true"></i>
                <i class="fa fa-instagram footer-follow-us-icons" aria-hidden="true"></i>
              </Address>
            </li>
          </ul>

        </div>
      </div>
      <div class="separation-line col-lg-4 col-md-4 col-sm-7">
        <div class="column-footer">
          <h3 class="footer-section-title">Restaurant Hours</h3>
          <ul>
            <li class="list-container">
              <span class="footer-section-sub-title">
                Lunch:
              </span>
            </li>
            <li class="list-container">
              <span>
                Monday - Friday: &nbsp; &nbsp; 11:30AM - 2:00PM
              </span>
            </li>
            <li class="list-container">
              <span class="footer-section-sub-title">
                Dinner:
              </span>
            </li>
            <li class="list-container">
              <span>
                Monday - Friday: &nbsp; &nbsp; 5:30PM - 11:00PM
              </span>
            </li>
            <li class="list-container">
              <span>
                Saturday - Sunday: &nbsp;
              </span>
              <span>
                4:30PM - 10:00PM
              </span>
            </li>
          </ul>
        </div>
      </div>
      <div class="separation-line col-lg-3 col-md-3 col-sm-7">
        <div class="column-footer">
          <h3 class="footer-section-title">Useful Links</h3>
          <div class="useful-links-container">
            Home
          </div>
          <div class="useful-links-container">
            About Us
          </div>
          <div class="useful-links-container">
            Menu
          </div>
          <div class="useful-links-container">
            Services
          </div>
          <div class="useful-links-container">
            Gallery
          </div>
          <div class="useful-links-container">
            Reviews
          </div>
          <div class="useful-links-container">
            Contact
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="wrap-bottom-footer">
    <div class="bottom-footer-container">
      <div class="row">
        <div class="col-sm-7">
          © 2017 SipNGossip. All rights reserved.
        </div>
        <div class="col-sm-5 text-right">
          <span>
            Policy &nbsp; Terms
          </span>
        </div>

      </div>

    </div>
  </div>
</footer>
