<section id="gallery">
  <div class="gallery-container">
    <div class="container p-t-80">
      <h3 class="title-text text-center">
        Gallery
      </h3>
      <div class="row">
        <div class="col-sm-4 m-b-40">
          <div class="gallery-img-container">
            <img src="assets/images/gallery/food1.jpg" class="img-fluid" alt="Sip & Gossip">
          </div>
        </div>
        <div class="col-sm-4 m-b-40">
          <div class="gallery-img-container">
            <img src="assets/images/gallery/food2.jpg" class="img-fluid" alt="Sip & Gossip">
          </div>
        </div>
        <div class="col-sm-4 m-b-40">
          <div class="gallery-img-container">
            <img src="assets/images/gallery/food3.jpg" class="img-fluid" alt="Sip & Gossip">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4 m-b-40">
          <div class="gallery-img-container">
            <img src="assets/images/gallery/ambience1.jpg" class="img-fluid" alt="Sip & Gossip">

          </div>
        </div>
        <div class="col-sm-4 m-b-40">
          <div class="gallery-img-container">
            <img src="assets/images/gallery/ambience2.jpg" class="img-fluid" alt="Sip & Gossip">

          </div>
        </div>
        <div class="col-sm-4 m-b-40">
          <div class="gallery-img-container">
            <img src="assets/images/gallery/ambience3.jpg" class="img-fluid" alt="Sip & Gossip">

          </div>
        </div>
      </div>
      <div class="row gallery-footer text-center col-sm-12" routerLink="/gallery">
        <div class="gallery-footer-text">
          <a>
            View More
          </a>
        </div>
      </div>
    </div>

  </div>
</section>
