$navbar-text-color: #c69d5c;
#review {
  clear: both;
  width: 100%;
  min-height: 100vh;
}
section {
  width: 100%;
  float: left;
  overflow: hidden;
  min-height: 100vh;
  position: relative;
  background-color: black;
}
.p-t-80 {
  padding-top: 80px;
}
.title-text {
  font-size: 4.25rem;
  color: white;
  font-family: cursive;
}

.title-sub-text {
  display: block;
  font-family: "Lato", sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 35px;
  letter-spacing: 0.4em;
}

.text-color-theme {
  color: darken($navbar-text-color, 20%);
}

.testimonials-slider {
  width: 100%;
  float: left;
  overflow: hidden;
  img {
    border-radius: 100px;
    margin-top: -55px;
    width: 80px;
    height: 80px;
    background: #fff;
    border: 1px solid #f5f5f5;
  }
}

.testimonials .swiper-slide {
  transition: all 300ms ease-in-out;
}

.testimonials-container {
  max-width: 700px;
  margin: 40px auto 0;
  overflow: visible;
  padding: 15px 60px;
  border-top: 1px solid #c19c62;
}
.shadow {
  box-shadow: 0 0 40px -5px rgba(0, 0, 0, 0.1);
}

.swiper-wrapper {
  position: relative;
  width: 300%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  box-sizing: content-box;
  animation: sliderEffect 14s infinite;
}

.swiper-slide {
  flex-shrink: 0;
  width: 33.33%;
  height: 100%;
  position: relative;
}

.review-by-user-body {
  font-size: 18px;
  color: #aaa;
  line-height: 26px;
}

.testimonials-slide-three {
  left: -200%;
  transition-duration: 0ms;
}
.testimonials-slide-two {
  left: -100%;
  transition-duration: 0ms;
}
.testimonials-slide-one {
  left: 0%;
  transition-duration: 0ms;
}

.active-slider {
  color: darken($navbar-text-color, 40%);
}
.slider-icon-container {
  cursor: pointer;
  i {
    padding: 4px;
  }
}

@keyframes sliderEffect {
  0%,
  25% {
    left: 0%;
    transition: left 4s linear;
  }
  34%,
  59% {
    left: -100%;
    transition: left 4s linear;
  }
  68%,
  90% {
    left: -200%;
    transition: left 4s linear;
  }
  100% {
    left: 0%;
    transition: left 2s linear;
  }
}

@media (min-width: 480px) and (max-width: 991px) {
  .testimonials .swiper-slide-next,
  .testimonials .swiper-slide-prev {
    visibility: hidden;
  }
}

@media (max-width: 479px) {
  .testimonials-slider {
    padding: 0 15px;
  }
}
