<div id="review">
  <section>
    <div class="container p-t-80">
      <div class="row">
        <div class="col-sm-12 text-center">
          <h3 class="text-white title-text">
            Reviews
          </h3>
          <div class="title-sub-text text-color-theme">
            Of Our Guest
          </div>
          <!-- <div class="title-sub-text text-white">
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
          </div> -->
          <div class="testimonials-slider text-center text-white">
            <!-- <div class="swiper-wrapper" [ngClass]="{ 
              'testimonials-slide-one': 1===activeSliderIndex, 
              'testimonials-slide-two': 2===activeSliderIndex, 
              'testimonials-slide-three': 3===activeSliderIndex
             }"> -->
            <div class="swiper-wrapper">

              <!-- <app-testimonial *ngFor="let userObj of userReviewArray" [userImgPath]="userObj.userImgPath" [userRating]="userObj.userRating"
                [userName]="userObj.userName" [userReview]="userObj.userReview">
              </app-testimonial> -->

              <div class="swiper-slide">
                <div class="testimonials-container shadow">
                  <img src="assets/images/reviews/user.png" alt="user avatar" />
                  <h3>
                    Ashish Mundra
                  </h3>
                  <span>
                    <i class="fa fa-star text-color-theme" aria-hidden="true"></i>
                    <i class="fa fa-star text-color-theme" aria-hidden="true"></i>
                    <i class="fa fa-star text-color-theme" aria-hidden="true"></i>
                    <i class="fa fa-star text-color-theme" aria-hidden="true"></i>
                    <i class="fa fa-star text-color-theme" aria-hidden="true"></i>
                  </span>
                  <P class="review-by-user-body">
                    First of all, the way they veganize all of the vegan stuff is pretty amazing. The constant innovation that they do to their
                    dishes is something which is quite unique. I really like the concept of labelling of all of their food
                    items, as this makes the consumer aware of what they're eating. They have range of desserts from raw
                    vegan dishes like Ras Malai, Doodh Ke Ras Gulle to highly processed (:-P) and absolutely delicious stuff
                    like Gulab Jamun, Ras Gulla etc.! You can also pickup their amazing starters off the shelf, which are
                    priced very reasonably.
                  </P>
                </div>
              </div>

              <div class="swiper-slide">
                <div class="testimonials-container shadow">
                  <img src="assets/images/reviews/user.png" alt="user avatar" />
                  <h3>
                    Dilip Mundra
                  </h3>
                  <span>
                    <i class="fa fa-star text-color-theme" aria-hidden="true"></i>
                    <i class="fa fa-star text-color-theme" aria-hidden="true"></i>
                    <i class="fa fa-star text-color-theme" aria-hidden="true"></i>
                    <i class="fa fa-star text-color-theme" aria-hidden="true"></i>
                    <i class="fa fa-star text-color-theme" aria-hidden="true"></i>
                  </span>
                  <P class="review-by-user-body">
                    The restaurant is a resounding proof that vegan food can be lip smackingly delicious and healthy. The widespread menu and
                    sheer deliciousness establish that vegan lifestyle is no compromise, even for a foodie. Every time I
                    visit Sip & Gossip, I am totally amazed by another dish. Cheese Corn Ball and Sunhari Tikki are winners.
                    Ice cream platter is delicious, light and perfect for three. Lemon Ice Tea tastes delicious!! Doodh Ke
                    Ras Gulle Dessert is just out of this world.
                  </P>
                </div>
              </div>

              <div class="swiper-slide">
                <div class="testimonials-container shadow">
                  <img src="assets/images/reviews/user.png" alt="user avatar" />
                  <h3>
                    Sushant Mundra
                  </h3>
                  <span>
                    <i class="fa fa-star text-color-theme" aria-hidden="true"></i>
                    <i class="fa fa-star text-color-theme" aria-hidden="true"></i>
                    <i class="fa fa-star text-color-theme" aria-hidden="true"></i>
                    <i class="fa fa-star text-color-theme" aria-hidden="true"></i>
                    <i class="fa fa-star text-color-theme" aria-hidden="true"></i>
                  </span>
                  <P class="review-by-user-body">
                    I had lunch at Sip & Gossip and loved the food! The menu is huge and you can order from Indian specialties to variety of
                    food - everything! I had a very delicious Curry! The Lemon Ice Tea was the best I ever had and the chocolate
                    dessert was also like heaven! Besides the great food, the service is excellent. welcome drink are amazing
                    and in the end desserts make your day perfect. They serve you water for free all the time and are very
                    helpful & friendly. I spend hours there because I felt so comfortable. I definitely recommend to eat
                    there!
                  </P>
                </div>
              </div>

            </div>




            <div>
              <span class="slider-icon-container">
                <i class="fa fa-circle text-color-theme" aria-hidden="true"></i>
                <i class="fa fa-circle text-color-theme" aria-hidden="true"></i>
                <i class="fa fa-circle text-color-theme" aria-hidden="true"></i>
              </span>
            </div>
          </div>
        </div>

      </div>
    </div>

  </section>
</div>
