<section id="contactUs">
  <div class="contact-us-form-container p-t-80">
    <div class="container">
      <div class="row text-center">
        <div class="col-sm-12">
          <h3 class="title-text">Contact Us</h3>
          <!-- <div class="title-sub-text text-color-theme">
            For Any Information
          </div> -->
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6 col-xs-12 bg-black form-container">
          <div class="form-container-title">
            Leave us a Message
          </div>
          <form action="">
            <div class="form-group">
              <input type="text" placeholder="Name" class="form-control">
            </div>
            <div class="form-group">
              <input type="text" placeholder="Email" class="form-control">
            </div>
            <div class="form-group">
              <input type="text" placeholder="Phone" class="form-control">
            </div>
            <div class="form-group">
              <input type="text" placeholder="Subject" class="form-control">
            </div>
            <div class="form-group">
              <textarea class="form-control" rows="4" cols="50" placeholder="Message"></textarea>
              <!-- <input type="textarea" rows="4" cols="50" placeholder="Message" class="form-control"> -->
            </div>
            <div class="form-group pull-right">
              <button class="btn btn-theme-color"> Submit</button>
              <!-- <input type="textarea" rows="4" cols="50" placeholder="Message" class="form-control"> -->
            </div>
          </form>
        </div>
        <div class="col-sm-6 col-xs-12">

        </div>

      </div>
    </div>
  </div>
</section>
