$navbar-text-color: #c69d5c;
$form-placeholder-text-color: #aaa;

section {
  width: 100%;
  float: left;
  overflow: hidden;
  min-height: 100vh;
  position: relative;
  background: url(../../assets/images/about/about.png) no-repeat scroll center
    center/cover #fff;
}

.contact-us-form-container {
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.p-t-80 {
  padding-top: 80px;
}
.title-text {
  font-size: 4.25rem;
  color: white;
  font-family: cursive;
  padding-bottom: 20px;
}
.title-sub-text {
  display: block;
  font-family: Lato, sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 35px;
  letter-spacing: 0.4em;
}
.text-color-theme {
  color: darken($navbar-text-color, 20%);
}
.btn-theme-color {
  background-color: darken($navbar-text-color, 20%);
  color: white;
  padding: 12px 50px;
  border-radius: 30px;
}

.bg-black {
  background-color: black;
}
.form-container {
  padding: 30px;
  border-radius: 40px;
  box-shadow: 0 0 0.2rem darken($navbar-text-color, 20%);
  //   border: 1px solid darken($navbar-text-color, 10);

  .form-control {
    border: none;
    color: white;
    // background-color: black;
    border-bottom: 1px solid white;
    background-color: transparent;
    border-radius: 0px;
    &:hover,
    &:focus,
    &:active {
      border: none;
      border-bottom: 2px solid darken($navbar-text-color, 20%);
      box-shadow: none;
    }

    &::placeholder {
      color: form-placeholder-text-color;
    }
  }
  .form-container-title {
    color: darken($navbar-text-color, 20%);
    margin-bottom: 1.5rem;
    font-size: 1.75rem;
    font-weight: 700;
  }
}
.map-container {
  padding: 20px;
  border-radius: 40px;
  box-shadow: 0 0 0.2rem darken($navbar-text-color, 20%);
}
