<div id="services">
  <section>
    <div class="container p-t-50">
      <div class="row m-b-18">
        <div class="col-sm-12 text-center">
          <h3 class="text-white title-text">
            Serices
          </h3>
          <div class="title-sub-text text-color-theme">
            We Offer
          </div>
        </div>
      </div>
      <div>
        <div class="row">
          <div class="col-md-3 col-sm-6 col-xs-6">

            <div class="service-menu-flipper-container">
              <div class="service-menu-flipper">
                <div class="front-container front">
                  <div class="bg-shadow">
                    <div class="flipper-face-text-container">
                      <h3 class="flipper-face-info-title">
                        Birthday
                        <span class="flipper-face-info-body">
                          Party
                        </span>
                      </h3>

                    </div>

                  </div>
                </div>
                <div class="back-container back-img-card-1 back">
                  <div class="bg-shadow">
                    <div class="flipper-face-text-container">
                      <h3 class="flipper-face-info-title">
                        Birthday
                        <span class="flipper-face-info-body">
                          Party
                        </span>
                      </h3>
                    </div>

                  </div>
                </div>
              </div>
            </div>

            <!-- <div class="service-menu-main-container">
              <div class="service-menu-container">
                <div class="text-center front">
                  <div class="service-menu-info">
                    <h3 class="service-info-title">
                      BirthDay
                      <span class="service-info-body">
                        Party
                      </span>
                    </h3>
                  </div>
                </div>
                <div class="text-center back">
                  <div class="service-menu-info">
                    <h3 class="service-info-title">
                      PArty
                      <span class="service-info-body">
                        birthday
                      </span>
                    </h3>

                  </div>
                </div>
              </div>
            </div> -->

          </div>

          <div class="col-md-3 col-sm-6 col-xs-6">
            <div class="service-menu-flipper-container">
              <div class="service-menu-flipper">
                <div class="front-container front">
                  <div class="bg-shadow">
                    <div class="flipper-face-text-container">
                      <h3 class="flipper-face-info-title">
                        Private
                        <span class="flipper-face-info-body">
                          Dinner
                        </span>
                      </h3>

                    </div>

                  </div>
                </div>
                <div class="back-container back back-img-card-2">
                  <div class="bg-shadow">
                    <div class="flipper-face-text-container">
                      <h3 class="flipper-face-info-title">
                        Private
                        <span class="flipper-face-info-body">
                          Dinner
                        </span>
                      </h3>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-3 col-sm-6 col-xs-6">
            <div class="service-menu-flipper-container">
              <div class="service-menu-flipper">
                <div class="front-container front">
                  <div class="bg-shadow">
                    <div class="flipper-face-text-container">
                      <h3 class="flipper-face-info-title">
                        Kitty
                        <span class="flipper-face-info-body">
                          Party
                        </span>
                      </h3>

                    </div>

                  </div>
                </div>
                <div class="back-container back back-img-card-3">
                  <div class="bg-shadow">
                    <div class="flipper-face-text-container">
                      <h3 class="flipper-face-info-title">
                        Kitty
                        <span class="flipper-face-info-body">
                          Party
                        </span>
                      </h3>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-3 col-sm-6 col-xs-6">
            <div class="service-menu-flipper-container">
              <div class="service-menu-flipper">
                <div class="front-container front">
                  <div class="bg-shadow">
                    <div class="flipper-face-text-container">
                      <h3 class="flipper-face-info-title">
                        Special
                        <span class="flipper-face-info-body">
                          Occasion
                        </span>
                      </h3>

                    </div>

                  </div>
                </div>
                <div class="back-container back back-img-card-4">
                  <div class="bg-shadow">
                    <div class="flipper-face-text-container">
                      <h3 class="flipper-face-info-title">
                        Special
                        <span class="flipper-face-info-body">
                          Occasion
                        </span>
                      </h3>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>

        <div class="row text-center m-t-2">
          <div class="service-icon-container">
            <i class="fa fa-asterisk text-color-theme" aria-hidden="true"></i>
            <i class="fa fa-asterisk text-color-theme" aria-hidden="true"></i>
            <i class="fa fa-asterisk text-color-theme" aria-hidden="true"></i>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>



<!-- <div class="col-md-3 col-sm-6 col-xs-6">
  <div class="service-menu-container">
    <div class="service-menu-info text-center">
      <h3 class="service-info-title">
        Private
        <span class="service-info-body">
          Dining
        </span>
      </h3>
    </div>
  </div>
</div> -->
