<div>
  <section>
    <div class="container p-t-50">
      <div class="row m-b-18">
        <div class="col-sm-12 text-center">
          <h3 class="text-white title-text">
            Serices
          </h3>
          <div class="title-sub-text text-color-theme">
            We Offer
          </div>
        </div>
      </div>
      <div>
        <div class="row">
          <div class="col-md-3 col-sm-6 col-xs-6">
            <div class="service-menu-container">
              <div class="service-menu-info text-center">
                <h3 class="service-info-title">
                  BirthDay
                  <span class="service-info-body">
                    Party
                  </span>
                </h3>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-6">
            <div class="service-menu-container">
              <div class="service-menu-info text-center">
                <h3 class="service-info-title">
                  Private
                  <span class="service-info-body">
                    Dining
                  </span>
                </h3>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-6">
            <div class="service-menu-container">
              <div class="service-menu-info text-center">
                <h3 class="service-info-title">
                  Kitty
                  <span class="service-info-body">
                    Party
                  </span>
                </h3>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-6">
            <div class="service-menu-container">
              <div class="service-menu-info text-center">
                <h3 class="service-info-title">
                  Special
                  <span class="service-info-body">
                    Occasion
                  </span>
                </h3>
              </div>
            </div>
          </div>
        </div>
        <div class="row text-center m-t-2">
          <div class="service-icon-container">
            <i class="fa fa-asterisk text-color-theme" aria-hidden="true"></i>
            <i class="fa fa-asterisk text-color-theme" aria-hidden="true"></i>
            <i class="fa fa-asterisk text-color-theme" aria-hidden="true"></i>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
