$navbar-text-color: #c69d5c;

section {
  width: 100%;
  float: left;
  overflow: hidden;
  min-height: 100vh;
  position: relative;
  background-color: black;
}
.m-t-2 {
  margin-top: 2rem;
}

.m-b-18 {
  margin-bottom: 4.8rem;
}

.p-t-50 {
  padding-top: 50px;
}

.title-text {
  font-size: 4.25rem;
  color: white;
  font-family: cursive;
}

.title-sub-text {
  display: block;
  font-family: "Lato", sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 35px;
  letter-spacing: 0.4em;
}

.text-color-theme {
  color: darken($navbar-text-color, 20%);
}

.service-menu-container {
  width: 100%;
  perspective: 1000px;
  height: 283px;
  background: rgb(44, 43, 43);
  border-radius: 18px;
  position: relative;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  margin-bottom: 20px;
  transition: 2s;
  transform-style: preserve-3d;

  .front {
    transform: rotateY(0deg);
    backface-visibility: hidden;
  }
  .back {
    backface-visibility: hidden;
    transform: rotateY(180deg);
  }
  &:hover {
    transform: rotateY(180deg);
  }
}

.service-icon-container {
  width: 100%;
}

.service-menu-info {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  .service-info-title {
    font-size: 30px;
    margin: 0px;
    line-height: normal;
    text-transform: uppercase;
    color: white;
  }
  .service-info-body {
    display: block;
    color: darken($navbar-text-color, 20%);
  }
}
