<div id="home">
  <section class="home-container">
    <div class="slider-container">
      <div class='slide slide-bottom'>
      </div>
      <div class='slide slide-left'>
      </div>
      <div class='slide slide-right'>
      </div>
      <div class='slide slide-top'>
      </div>
    </div>
    <div class="text-center animated fadeInDown home-welcome-msg-container">
      <h3 class="welcome-text-title animated fadeInDown">
        Welcome To
      </h3>
      <h3 class="welcome-text-title animated fadeInDown">
        Sip N Gossip
      </h3>
    </div>
  </section>
</div>
